<div class="footer-div">

    <div class="footer-item">

        <a href="https://www.linkedin.com/in/ebonyvandross/" target="_blank">
            <i class="fa fa-brands fa-linkedin fa-2x"></i>
        </a>
        <br><a href="https://github.com/ebonyvandross" target="_blank">
            <i class="fa fa-brands fa-github fa-2x"></i>
        </a>
        <br><a href="https://twitter.com/ebony_vandross" target="_blank">
            <i class="fa fa-brands fa-twitter-square fa-2x"></i>
        </a>

    </div>

</div>
</body>

</html>