<div class="top-div">
    <a href="/">
        <img class="header-logo" src="/images/FCFCFC - Lotion logo 2.png" alt="Let's Start Learning Logo">
    </a>
    <nav class="nav-ul">
        <ul class="nav-items">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">News</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
        </ul>
    </nav>
    <a href="javascript:void(0);" class="hamburger-icon">
        <i class="fas fa-bars fa-2x"></i>
    </a>
</div>