<%- include("../partials/head.ejs") %>

    <%- include("../partials/nav.ejs") %>

        <div class="main-content">
            <div class="content-box-2">
                <h2 class="content-box-2-h2">About this website</h2>
                If you are a person who is studying basic education skills by yourself, welcome! 
                <br>This site is to help you study if you aren't in a class or know a teacher. 
                <br>On the <a href="/">home page,</a> you will find some activies separated into different topics. 
                <br>Try them out and see what you can learn! 
                <br>Also, if you come across any other online activities you want to share, <a href="/submit-activities">you can do that on this page.</a>
                <br>
                <br>If you are an instructor or teacher, thank you for visting this website!
                <br>Since our goal here is to help students with studying alone, there is not much here for you.
                <br>However, one way you can support us is to <a href="/contact-us">provide feedback.</a>
                <br>Or better yet, <a href="/submit-activities">submit a learning activity.</a>
                <br>Otherwise, please feel free to spread the word about us.
                <br>Thanks again for stopping by!
            </div>
        </div>

        <%- include("../partials/footer.ejs") %>