<%- include("../partials/head.ejs") %>

    <%- include("../partials/nav.ejs") %>

        <div class="main-content">
            <div class="content-box-2">
                <h2 class="content-box-titles">About this website</h2>
                If you are a person who is studying basic education skills by yourself, welcome! 
                <br>This site is to help you study if you aren't in a class or know a teacher. 
                <br>On the <a href="/">home page,</a> you will find some activities separated into different topics. 
                <br>Try them out and see what you can learn! 
                <br>
                <br>If you are an instructor or teacher who is interested in learning about how you can support this project, please <a href="/contact-us">contact us</a>!
                <!-- <br>Or better yet, <a href="activities/submit-activities">submit a learning activity.</a>
                <br>Otherwise, please feel free to spread the word about us.
                <br>Thanks again for stopping by! -->
            </div>
        </div>

        <%- include("../partials/footer.ejs") %>