<%- include("../partials/head.ejs") %>

    <%- include("../partials/nav.ejs") %>

        <div class="main-content">

            <div class="content-box-2">

                <h1>ADMIN CREATE PAGE</h1>
                <form action="/admin/activity" method="post">

                    <div>
                        <label for="type">Select activity type:</label>
                        <select name="type" id="type">
                            <option value="comprehension">comprehension</option>
                            <option value="listening">listening</option>
                            <option value="math">math</option>
                            <option value="reading">reading</option>
                            <option value="speaking">speaking</option>
                            <option value="writing">writing</option>
                        </select>
                    </div>

                    <div>
                        <label for="title">Title: </label>
                        <input type="text" name="title" id="title" minlength="4" required />
                    </div>

                    <div>
                        <label for="link">Link: </label>
                        <input type="text" name="link" minlength="5" required />
                    </div>

                    <input type="submit" class="form-button" value="Submit">

                </form>

            </div>

        </div>

        <%- include("../partials/footer.ejs") %>