<%- include("../partials/head.ejs") %>

    <%- include("../partials/nav.ejs") %>

        <div class="main-content">

            <div class="content-box-2">

                <h1>ADMIN CREATE PAGE</h1>
                <form action="action_page.php">

                    <div>
                        <label for="title">Title: </label>
                        <input type="text" name="title" id="title" minlength="4" required />
                    </div>

                    <div>
                        <label for="link">Link: </label>
                        <input type="text" name="link" id="author" minlength="5" required />
                    </div>

                    <input type="submit" class="form-button" value="CREATE">

                </form>
                
            </div>

        </div>

        <%- include("../partials/footer.ejs") %>