<%- include("../partials/head.ejs") %>

        <%- include("../partials/nav.ejs") %>

                <div class="top-content-box-div">
                        <div class="top-content-box"><a href="/admin/activity-create">add new activity
                                        <img src="/images/create2.png" class=content-box-image
                                                alt="add an activity"></a>
                        </div>
                </div>

                <div class="main-content">

                        <div class="content-box"><a href="/admin/admin-listening">update listening activities
                                        <img src="/images/listening.png" class=content-box-image alt="for learners"></a>
                        </div>

                        <div class="content-box"><a href="/admin/admin-math">update math activities
                                        <img src="/images/math.png" class=content-box-image alt="for learners"></a>
                        </div>

                        <div class="content-box"><a href="/admin/admin-reading">update reading activities
                                        <img src="/images/reading.png" class=content-box-image alt="for learners"></a>
                        </div>

                        <div class="content-box"><a href="/admin/admin-speaking">update speaking activities
                                        <img src="/images/speaking.png" class=content-box-image alt="for learners"></a>
                        </div>
                        
                        <div class="content-box"><a href="/admin/admin-writing">update writing activities
                                        <img src="/images/writing.png" class=content-box-image alt="for learners"></a>
                        </div>

                </div>

                <%- include("../partials/footer.ejs") %>