<%- include("../partials/head.ejs") %>

    <%- include("../partials/nav.ejs") %>

        <div class="main-content">

            <div class="content-box-2">

                <!-- <iframe
                    src="https://docs.google.com/forms/d/e/1FAIpQLSdMYYG2xVks2-tRSjkz5rDBvpTT_nhygQNefwUl0meiZfFy6Q/viewform?embedded=true"
                    width="640" height="542" frameborder="0" marginheight="0" marginwidth="0">Loading…
                </iframe> -->

                <h1>CONTACT US</h1>

                <form action="/contact-us" method="POST">

                    <label for="email">YOUR EMAIL ADDRESS</label>
                    <input type="text" id="email" name="email" placeholder="Type here.">

                    <label for="message">YOUR MESSAGE/QUESTION</label>
                    <textarea id="message" name="message" placeholder="Type here." style="height:200px"></textarea>

                    <input type="submit" class="form-button-submit" value="Submit">

                </form>

            </div>

        </div>

        <%- include("../partials/footer.ejs") %>