<%- include("../partials/head.ejs") %>

    <%- include("../partials/nav.ejs") %>

        <div class="main-content">

            <div class="content-box">Study comprehension (understanding)
                <img src="/images/how.png" class=content-box-image alt="for learners">
            </div>
            <div class="content-box">Study listening
                <img src="/images/listening.png" class=content-box-image alt="for learners">
            </div>
            <div class="content-box">Study math
                <img src="/images/math.png" class=content-box-image alt="for learners">
            </div>
            <div class="content-box">Study reading
                <img src="/images/reading.png" class=content-box-image alt="for learners">
            </div>
            <div class="content-box">Study speaking
                <img src="/images/speaking.png" class=content-box-image alt="for learners">
            </div>
            <div class="content-box">Study writing
                <img src="/images/writing.png" class=content-box-image alt="for learners">
            </div>

        </div>

        <%- include("../partials/footer.ejs") %>