<%- include("../partials/head.ejs") %>

        <%- include("../partials/nav.ejs") %>

                <div class="site-title-div">
                        <h1 class="site-title">Let's Start Learning</h1>
                </div>

                <div class="main-content">

                        <div class="content-box"><a href="activities/study-listening">Study listening
                                        <img src="/images/listening.png" class=content-box-image alt="for learners"></a>
                        </div>
                        <div class="content-box"><a href="activities/study-math">Study math
                                        <img src="/images/math.png" class=content-box-image alt="for learners"></a>
                        </div>
                        <div class="content-box"><a href="activities/study-reading">Study reading
                                        <img src="/images/reading.png" class=content-box-image alt="for learners"></a>
                        </div>
                        <div class="content-box"><a href="activities/study-speaking">Study speaking
                                        <img src="/images/speaking.png" class=content-box-image alt="for learners"></a>
                        </div>
                        <div class="content-box"><a href="activities/study-writing">Study writing
                                        <img src="/images/writing.png" class=content-box-image alt="for learners"></a>
                        </div>

                </div>

                <%- include("../partials/footer.ejs") %>