<%- include("../partials/head.ejs") %>

    <%- include("../partials/nav.ejs") %>

        <div class="site-title-div">
            <h1 class="site-title">Let's Start Learning</h1>
        </div>

        <div class="main-content">

            <div class="content-box">
                <a href="/for-learners">
                    FOR LEARNERS
                    <img src="/images/learners.png" class=content-box-image alt="for learners">
                    </i>
            </div>

            <div class="content-box">
                <a href="/blog">
                    NEWS/BLOG
                    <img src="/images/blog.png" class=content-box-image alt="news/blog">
                    </i>
            </div>

            <div class="content-box">
                <a href="/for-instructors">
                    FOR INSTRUCTORS
                    <img src="/images/instructors.png" class=content-box-image alt="for instructors">
                    </i>
            </div>

        </div>

        <%- include("../partials/footer.ejs") %>