<%- include("../partials/head.ejs") %>

    <%- include("../partials/nav.ejs") %>

       <div class="blog-content">
            <div class="row">
                <div class="leftcolumn">
                    <div class="blog-card">
                        <h2>BLOG POST</h2>
                        <h5>Title description, Dec 7, 2017</h5>
                        <div class="fakeimg" style="height:200px;">Image</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                            ea commodo consequat.</p>
                    </div>
                    <div class="blog-card">
                        <h2>BLOG POST</h2>
                        <h5>Title description, Sep 2, 2017</h5>
                        <div class="fakeimg" style="height:200px;">Image</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                            ea commodo consequat.</p>
                    </div>
                </div>

                <div class="rightcolumn">
                    <div class="blog-card">
                        <h3>Popular Posts</h3>
                        <div class="fakeimg">Image</div><br>
                        <div class="fakeimg">Image</div><br>
                        <div class="fakeimg">Image</div>
                    </div>

                </div>
            </div>
        </div>

        <%- include("../partials/footer.ejs") %>