<%- include("../partials/head.ejs") %>

    <%- include("../partials/nav.ejs") %>

        <div class="main-content">

            <div class="content-box-2">

                <h1>Register</h1>
                <form action="/register" method="POST">

                    <div>
                        <label for="username">Username </label>
                        <input type="text" name="username" id="username" required />
                    </div>

                    <div>
                        <label for="password">Password: </label>
                        <input type="password" name="password" id="password" minlength="10" required />
                    </div>

                    <div>
                        <input type="submit" value="Submit" />
                    </div>

                    <p><a href="/auth/google" class="btn">Register with Google</a></p>

                </form>

            </div>

        </div>

        <%- include("../partials/footer.ejs") %>