<%- include("../partials/head.ejs") %>

    <%- include("../partials/nav.ejs") %>

        <div class="main-content">
            <h2>LISTENING ACTIVITIES</h2>

            <table>
                <tr>
                    <th>Listening Activities</th>
                </tr>

                <% listeningActivities.forEach( activity=> { %>
                    <tr>
                        <td>
                            <iframe src=<%=activity.link %></iframe>
                        </td>
                    </tr>
                <% }); %>

            </table>
        </div>

        <%- include("../partials/footer.ejs") %>