<%- include("../partials/head.ejs") %>

    <%- include("../partials/nav.ejs") %>

    <div class="main-content">
        <h2>SPEAKING ACTIVITIES</h2>

        <table>
            <tr>
                <th>Title</th>
                <th>Source</th>
            </tr>
            <tr>
                <td></td>
                <td>h5p.org</td>
            </tr>
            <tr>
                <td>TBD</td>
                <td>TBD</td>
            </tr>
            <tr>
                <td>TBD</td>
                <td>TBD</td>
            </tr>
            
        </table>
    </div>

    <%- include("../partials/footer.ejs") %>