<%- include("../partials/head.ejs") %>

    <%- include("../partials/nav.ejs") %>

    <div class="main-content">
        <h2>MATH ACTIVITIES</h2>

        <table>
            <tr>
                <th>Title</th>
                <th>Level</th>
                <th>Read Time</th>
            </tr>
            <tr>
                <td>TBD</td>
                <td>TBD</td>
                <td>TBD</td>
            </tr>
            <tr>
                <td>TBD</td>
                <td>TBD</td>
                <td>TBD</td>
            </tr>
            <tr>
                <td>TBD</td>
                <td>TBD</td>
                <td>TBD</td>
            </tr>
            <tr>
                <td>TBD</td>
                <td>TBD</td>
                <td>TBD</td>
            </tr>
            <tr>
                <td>TBD</td>
                <td>TBD</td>
                <td>TBD</td>
            </tr>
            <tr>
                <td>TBD</td>
                <td>TBD</td>
                <td>TBD</td>
            </tr>
        </table>
    </div>

    <%- include("../partials/footer.ejs") %>