<%- include("../partials/head.ejs") %>

    <%- include("../partials/nav.ejs") %>

        <div class="main-content">

            <div class="content-box-2">
                <h1>Submit an activity</h1>
                <form action="action_page.php">

                    <label for="email">YOUR EMAIL ADDRESS</label>
                    <input type="text" id="email" name="email" placeholder="Enter your email address here.">

                    <label for="activity-type">Select activity type:</label>
                    <select name="activity-type" id="activity-type">
                        <option value="comprehension">comprehension</option>
                        <option value="listening">listening</option>
                        <option value="math">math</option>
                        <option value="reading">reading</option>
                        <option value="speaking">speaking</option>
                        <option value="writing">writing</option>
                    </select>

                    <label for="message">Activity link</label>
                    <textarea id="message" name="message"
                        placeholder="Paste the URL for the activity you would like to submit here."
                        style="height:200px"></textarea>

                    <input type="submit" class="form-button" value="Submit">

                </form>
            </div>
        </div>

        <%- include("../partials/footer.ejs") %>