/* 
COLORS:
#F4E04D - Minion Yellow
#FCFCFC - Lotion
#228CDB - Bleu De France
#170312 - Licorice
#E53D00 - Tangelo 
*/

/* DON'T CHANGE THIS */
body {
    font-family: 'Roboto', sans-serif;
    color: #170312;
    width: 100%;
    max-width: 100vw;
    margin: 0%;
    overflow-x: hidden;
}

/* DON'T CHANGE THIS */

.top-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    /* background: rgb(252, 252, 252);
    background: linear-gradient(100deg, rgba(252, 252, 252, 1) 0%, rgba(23, 3, 18, 1) 35%, rgba(0, 212, 255, 1) 100%); */
    background-color: #170312;
    height: 125px;
    line-height: 25px;
    font-size: larger;
    font-weight: bolder;
    padding: 30px;
    /* border-bottom: black solid 5px; */
}

.header-logo {
    width: 125px;
    /* border: solid red 5px; */
}

.nav-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

/* Hide nav menu by default */
.nav-ul {
    display: none;
}


/* To display menu items when ul has class of "open" */
.nav-ul.open {
    display: block;
}

ul {
    list-style-type: none;
    /* border: solid yellow 5px; */
}

li {
    font-size: x-large;
    font-weight: 900;
    /* margin-left: 20px; */
    /* color: #FCFCFC; */
    /* border: white solid 5px; */
}

.hamburger-icon-div {
    display: flex;
}

.hamburger-icon {
    display: none;
}

.banner-div {
    height: 100px;
    border-bottom: #170312 solid 2px;
    /* background: rgb(252, 252, 252);
    background: radial-gradient(circle, rgba(252, 252, 252, 1) 0%, rgba(244, 224, 77, 1) 35%, rgba(0, 212, 255, 1) 100%); */
    /* background-color: #F4E04D; */
    line-height: 15px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding: 30px;
}

.site-title {
    font-family: 'Righteous', cursive;
    font-weight: bolder;
    /* color: radial-gradient(circle, rgba(252, 252, 252, 1) 0%, rgba(244, 224, 77, 1) 35%, rgba(0, 212, 255, 1) 100%); */
    text-transform: uppercase;
    padding: 15px;
    font-size: 75px;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* I want 3 boxes*/
    flex-basis: 3;
    /* per row here*/
    margin: 5%;
    padding: 0%;
}

h1 {
    text-align: center;
    /* padding-top: 30px; */
    /* padding-bottom: 15px; */
}

h2 {
    text-align: center;
    padding-bottom: 30px;
}

.content-box {
    height: 200px;
    width: 200px;
    margin: 10px;
    padding: 30px;
    text-transform: uppercase;
    text-align: center;
    line-height: 25px;
    font-size: 20px;
    font-weight: bolder;
    outline: #170312 solid 5px;
    border-radius: 10%;
    box-shadow: 10px 10px 5px #228CDB;
}

.content-box-2-h2 {
    text-transform: uppercase;
    font-weight: bolder;
}

.content-box-2 {
    /* background-color: #170312; */
    /* text-transform: uppercase; */
    height: 600px;
    width: 80%;
    margin: 10px;
    padding: 75px;
    text-transform: uppercase;
    text-align: left;
    line-height: 25px;
    font-size: 20px;
    font-weight: bold;
    color: #170312;
    outline: #170312 solid 5px;
    border-radius: 10%;
    box-shadow: 10px 10px 5px #228CDB;
}


/* inside content-box class */
.content-box-image {
    width: 100px;
    height: 100px;
    padding: 30px;
}

/* inside content-box class */

.content-box-2-image {
    width: 200px;
    height: 200px;
    padding: 30px;
}

/* TABLES */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/* tr:nth-child(even) {
    background-color: #F4E04D;
} */
/* TABLES */

.footer-div {
    display: flex;
    /* border-top: #170312 solid 2px; */
    height: 100px;
    background: rgb(252, 252, 252);
    background: linear-gradient(100deg, rgba(252, 252, 252, 1) 0%, rgba(23, 3, 18, 1) 35%, rgba(0, 212, 255, 1) 100%);
    /* background-color: #228CDB; */
    line-height: 25px;
    font-size: larger;
    font-weight: bolder;
    padding: 30px;
    align-content: space-around;
}

.footer-nav-ul {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: auto;
}


/* LINK STYLING */
a:link {
    color: #FCFCFC;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: #E53D00;
}

a:hover {
    color: #F4E04D;

}

a:active {
    color: #063C5E;
    background-color: #fccf14;
}

/* FOR BLOG -START */

.blog-content {
    margin-top: 5%;
    margin-bottom: 5%;

}

/* Left column */
.leftcolumn {
    float: left;
    width: 70%;
}

/* Right column */
.rightcolumn {
    float: right;
    width: 25%;
    margin-right: 40px;
    padding-left: 20px;
}

/* Fake image */
.fakeimg {
    background-color: #170312;
    width: 90%;
    padding: 20px;
}

/* Add a card effect for articles */
.blog-card {
    background-color: white;
    padding: 40px;
    margin: auto;
    margin-top: 20px;
    margin-left: 40px;
    /* outline: #170312 solid 5px; */
    border-radius: 10%;
    box-shadow: 10px 10px 5px #228CDB;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* FOR BLOG - END */


/* FOR FORMS */
.contact-div {
    display: flex;
    margin: 0%;
    padding: 10px;
    ;
}

.contact-container {
    margin: 15%;
    padding: 60px;
    /* text-align: center; */
    line-height: 25px;
    outline: #170312 solid 5px;
    border-radius: 10%;
    box-shadow: 10px 10px 5px #228CDB;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #E53D00;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #228CDB;
}

/* Add a background color and some padding around the form */
/* .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  } */

.form-button {
    align-content: center;
}

/* Styling appears at 768px OR SMALLER */
@media only screen and (max-width: 768px) {
    .hamburger-icon {
        display: block;
        float: right;
        /* position: fixed; */
        margin-left: auto;
        /* border: solid yellow 10px; */
    }

    /* Need text to shrink down in mobile */
    /* .content-box-2 {
        
    } */

    /* BLOG */
    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

@media only screen and (min-width: 768px) {

    /* Show navbar at 768px or larger */
    .nav-ul {
        display: block;
        display: flex;
        gap: 20px;
    }

    .nav-items {
        display: flex;
        gap: 20px;
    }
}