/* 
COLORS:
#F4E04D - Minion Yellow
#FCFCFC - Lotion
#228CDB - Bleu De France
#170312 - Licorice
#E53D00 - Tangelo 
*/

/* DON'T CHANGE THIS */
body {
    width: 100%;
     max-width: 100vw;
     margin: 0%;
     overflow-x: hidden;
}
/* DON'T CHANGE THIS */



.top-div {
    display: flex;
    background-color: #228CDB;
    height: 100px;
    line-height: 25px;
    font-size: larger;
    font-weight: bolder;
    padding: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

li {
    color: #170312;
}

/* I WANT THESE LINKS TO BE WHITE BY DEFAULT */
/* li {
    display: inline;
    margin: 5px;
    color: #FCFCFC;
} */

.banner-div {
    height: 175px;
    border-bottom: #170312 solid 2px;
    background-color: #F4E04D;
    line-height: 25px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding: 30px;

}

.home-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* I want 3 boxes*/ 
    flex-basis: 3;
    /* per row here*/
    margin: 5%;
    padding: 0%;
}

h1 {
    text-align: center;
    /* padding-top: 30px; */
    padding-bottom: 30px;
}

h2 {
    text-align: center;
    padding-bottom: 30px;
}

.content-box {
    /* background-color: #170312; */
    height: 200px;
    width: 200px;
    margin: 10px;
    padding: 30px;
    text-align: center;
    line-height: 25px;
    font-size: 20px;
    font-weight: bolder;
    color: #170312;
    outline: #170312 solid 5px;
    border-radius: 10%;
    box-shadow: 10px 10px 5px #228CDB;
  }


/* inside content-box class */
  .home-image {
    width: 100px;
    height: 100px;
    padding: 30px;
}
/* inside content-box class */


.footer-div {
    display: flex;
    border-top: #170312 solid 2px;
    height: 100px;
    background-color: #228CDB;
    line-height: 25px;
    font-size: larger;
    font-weight: bolder;
    padding: 30px;
}


/* LINK STYLING */
a:link {
    color: #170312;
    /* font-weight: bold; */
    text-decoration: none;
}

a:visited {
    color: #228CDB;
}

a:hover {
    color: #E53D00;

}

/* a:active {
    color: #063C5E;
    background-color: #fccf14;
} */
/* LINK STYLING */


/* FOR FORMS */
.contact-div {
    display: flex;
    margin: 0%;
    padding: 10px;;
}

.contact-container {
    margin: 15%;
    padding: 60px;
    /* text-align: center; */
    line-height: 25px;
    outline: #170312 solid 5px;
    border-radius: 10%;
    box-shadow: 10px 10px 5px #228CDB;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #E53D00;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #228CDB;
  }
  
  /* Add a background color and some padding around the form */
  /* .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  } */

  .form-button {
      align-content: center;
  }